$bkrd-primary-color: #fff;

$primary-black: #252525;
$primary-black-lt: #3b3b3b;

$primary-color-drk: #fea7b5;
$primary-color: #ffc0cb;
$primary-color-lt: #fccdd5;

$secondary-color: #ffffbc;
$secondary-color-lt: #ffffbc;