@use './colors' as c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: c.$primary-black;
}

html, body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.app {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: min-content 1fr;
  height: 100vh;

  .navbar {
    grid-column: 1 / 3;

    text-align: center;
    padding: .5em;
  }

  .sidebar {
    background-color: c.$primary-color;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    padding: 1em;

    h2 {
      border-bottom: 1px solid transparentize(c.$primary-black, 0.5);
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      margin-left: 0.5em;
    }

    .topic {
      margin: 0.25em 1em;
      padding: 0.3em;

      &.active {
        background-color: c.$primary-color-lt;
        padding: 2px;
      }

      &:hover {
        opacity: 80%;
        cursor: pointer; 
      }
    }
  }

  .home {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: c.$secondary-color;

    p {
      margin: 1em 0;
      display: inline-block;
      max-width: 500px;
    }
  }

  .content {
    background-color: c.$secondary-color;
    grid-column: 2;
    padding: 1em;

    .description {
      color: c.$primary-black;
      font-style: italic;
      margin: 0.5em 2em;
    }
      
      p {
        margin: .5em;
      }
    }
  }

  .post, .createPostDialogue {
    border: 1px solid c.$primary-black;
    border-radius: 5px;
    margin: 1em 0;
    max-width: 700px;
  }

  .createPostDialogue {
    display: flex;
    flex-direction: column;
    padding: 1em;

    input {
      margin: 0 0 1em;
    }
  }

  #new-post-content {
    height: 100px;
  }

  .footer {
    grid-column: 1 / 3;
    background-color: c.$bkrd-primary-color;
    bottom: 0;
    text-align: center;
  }
